<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<tests>
		<test name="testExecuteProcedureVoid">
			<procedure name="JBSPROCVOID"/>
		</test>
		<test name="testExecuteProcedureVarcharIn">
			<procedure name="JBSPROCVARCHARIN"/>
			<parameters>
				<parametersInput>
					<parameter name="paramIn" type="A" isArray="false">
						<value value="valor"></value>
					</parameter>
				</parametersInput>
				<parametersOutput>
				</parametersOutput>
			</parameters>
		</test>
		<test name="testExecuteProcedureVarcharOut">
			<procedure name="JBSPROCVARCHAROUT"/>
			<parameters>
				<parametersInput>
				</parametersInput>
				<parametersOutput>
					<parameter name="paramOut" type="A" isArray="false">
					</parameter>
				</parametersOutput>
			</parameters>
		</test>
		<test name="testExecuteProcedureVarcharInOut">
			<procedure name="JBSPROCVARCHARINOUT"/>
			<parameters>
				<parametersInput>
					<parameter name="paramIn" type="A" isArray="false">
						<value value="valor"></value>
					</parameter>
				</parametersInput>
				<parametersOutput>
					<parameter name="paramOut" type="A" isArray="false">
					</parameter>
				</parametersOutput>
			</parameters>
		</test>
		<test name="testExecuteProcedureIntegerIn">
			<procedure name="JBSPROCINTEGERIN"/>
			<parameters>
				<parametersInput>
					<parameter name="paramIn" type="N" isArray="false">
						<value value="111"></value>
					</parameter>
				</parametersInput>
				<parametersOutput>
				</parametersOutput>
			</parameters>
		</test>
		<test name="testExecuteProcedureIntegerOut">
			<procedure name="JBSPROCINTEGEROUT"/>
			<parameters>
				<parametersInput>
				</parametersInput>
				<parametersOutput>
					<parameter name="paramOut" type="N" isArray="false">
					</parameter>
				</parametersOutput>
			</parameters>
		</test>
		<test name="testExecuteProcedureIntegerInOut">
			<procedure name="JBSPROCINTEGERINOUT"/>
			<parameters>
				<parametersInput>
					<parameter name="paramIn" type="N" isArray="false">
						<value value="111"></value>
					</parameter>
				</parametersInput>
				<parametersOutput>
					<parameter name="paramOut" type="N" isArray="false">
					</parameter>
				</parametersOutput>
			</parameters>
		</test>		
		<test name="testExecuteProcedureDoubleIn">
			<procedure name="JBSPROCDOUBLEIN"/>
			<parameters>
				<parametersInput>
					<parameter name="paramIn" type="R" isArray="false">
						<value value="111.11"></value>
					</parameter>
				</parametersInput>
				<parametersOutput>
				</parametersOutput>
			</parameters>
		</test>
		<test name="testExecuteProcedureDoubleOut">
			<procedure name="JBSPROCDOUBLEOUT"/>
			<parameters>
				<parametersInput>
				</parametersInput>
				<parametersOutput>
					<parameter name="paramOut" type="R" isArray="false">
					</parameter>
				</parametersOutput>
			</parameters>
		</test>
		<test name="testExecuteProcedureDoubleInOut">	
			<procedure name="JBSPROCDOUBLEINOUT"/>
			<parameters>
				<parametersInput>
					<parameter name="paramIn" type="R" isArray="false">
						<value value="111.11"></value>
					</parameter>
				</parametersInput>
				<parametersOutput>
					<parameter name="paramOut" type="R" isArray="false">
					</parameter>
				</parametersOutput>
			</parameters>
		</test>	
		<test name="testExecuteProcedureDateIn">
			<procedure name="JBSPROCDATEIN"/>
			<parameters>
				<parametersInput>
					<parameter name="paramIn" type="D" isArray="false">
						<value value="14/12/2010"></value>
					</parameter>
				</parametersInput>
				<parametersOutput>
				</parametersOutput>
			</parameters>
		</test>
		<test name="testExecuteProcedureDateOut">
			<procedure name="JBSPROCDATEOUT"/>
			<parameters>
				<parametersInput>
				</parametersInput>
				<parametersOutput>
					<parameter name="paramOut" type="D" isArray="false">
					</parameter>
				</parametersOutput>
			</parameters>
		</test>
		<test name="testExecuteProcedureDateInOut">	
			<procedure name="JBSPROCDATEINOUT"/>
			<parameters>
				<parametersInput>
					<parameter name="paramIn" type="D" isArray="false">
						<value value="14/12/2010"></value>
					</parameter>
				</parametersInput>
				<parametersOutput>
					<parameter name="paramOut" type="D" isArray="false">
					</parameter>
				</parametersOutput>
			</parameters>
		</test>
		<test name="testExecuteProcedureDateTimeIn">
			<procedure name="JBSPROCDATEIN"/>
			<parameters>
				<parametersInput>
					<parameter name="paramIn" type="O" isArray="false">
						<value value="14/12/2010 12:25"></value>
					</parameter>
				</parametersInput>
				<parametersOutput>
				</parametersOutput>
			</parameters>
		</test>
		<test name="testExecuteProcedureDateTimeOut">
			<procedure name="JBSPROCDATEOUT"/>
			<parameters>
				<parametersInput>
				</parametersInput>
				<parametersOutput>
					<parameter name="paramOut" type="O" isArray="false">
					</parameter>
				</parametersOutput>
			</parameters>
		</test>
		<test name="testExecuteProcedureDateTimeInOut">	
			<procedure name="JBSPROCDATEINOUT"/>
			<parameters>
				<parametersInput>
					<parameter name="paramIn" type="O" isArray="false">
						<value value="14/12/2010 12:25"></value>
					</parameter>
				</parametersInput>
				<parametersOutput>
					<parameter name="paramOut" type="O" isArray="false">
					</parameter>
				</parametersOutput>
			</parameters>
		</test>									

		<test name="testExecuteProcedureTimeIn">
			<procedure name="JBSPROCDATEIN"/>
			<parameters>
				<parametersInput>
					<parameter name="paramIn" type="T" isArray="false">
						<value value="12:25"></value>
					</parameter>
				</parametersInput>
				<parametersOutput>
				</parametersOutput>
			</parameters>
		</test>
		<test name="testExecuteProcedureTimeOut">
			<procedure name="JBSPROCDATEOUT"/>
			<parameters>
				<parametersInput>
				</parametersInput>
				<parametersOutput>
					<parameter name="paramOut" type="T" isArray="false">
					</parameter>
				</parametersOutput>
			</parameters>
		</test>
		<test name="testExecuteProcedureTimeInOut">	
			<procedure name="JBSPROCDATEINOUT"/>
			<parameters>
				<parametersInput>
					<parameter name="paramIn" type="T" isArray="false">
						<value value="12:25"></value>
					</parameter>
				</parametersInput>
				<parametersOutput>
					<parameter name="paramOut" type="T" isArray="false">
					</parameter>
				</parametersOutput>
			</parameters>
		</test>																
	</tests>
</configuration>